.footer.footer-style {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    background: linear-gradient(-90deg, #ffffff 0%, #eff7e8 100%);
  
    @media screen and (max-width: 520px) {
      background: linear-gradient(0deg, #ffffff 0%, #eff7e8 100%);
    }
  }
  
  .footer-content {
    display: flex;
    position: relative;
  
    @media screen and (max-width: 520px) {
      flex-direction: column;
    }
  }
  
  .footer-leftSide {
    padding-top: 100px;
    width: 70vw;
  
    @media screen and (max-width: 520px) {
      padding-top: 40px;
    }
  
    h1 {
      color: #1e502f;
      margin-bottom: 36px;
      font-size: calc(32px + (48 - 32) * ((100vw - 320px) / (1920 - 320)));
      line-height: calc(32px + (62 - 32) * ((100vw - 320px) / (1920 - 320)));
      word-break: break-word;
      font-weight: 400;
      transition: all 0.5s ease;
  
      @media screen and (max-width: 520px) {
        margin-bottom: 24px;
      }
    }
  
    @media screen and (max-width: 1580px) {
      width: 75vw;
    }
  
    @media screen and (max-width: 1400px) {
      width: 80vw;
    }
  
    @media screen and (max-width: 1360px) {
      width: 100%;
    }
  }
  
  .footer-footerLinks {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
  
    @media screen and (max-width: 520px) {
      flex-direction: column;
    }
  
    a:hover {
      span {
        color: #134731;
      }
    }
  
    > div {
      display: flex;
      flex-direction: column;
      max-width: 274px;
      margin-right: 20px;
      width: 100%;
      margin-bottom: 20px;
  
      @media screen and (max-width: 1360px) {
        max-width: 100%;
        width: calc(50% - 20px);
      }
  
      @media screen and (max-width: 520px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 24px;
      }
  
      h2,
      a {
        margin-bottom: 16px;
        text-decoration: none;
      }
  
      h2 {
        color: #134731;
        font-size: 24px;
        line-height: 36px;
        word-break: break-word;
        font-weight: 400;
        transition: all 0.5s ease;
      }
  
      a span {
        color: rgba(15, 48, 34, 0.5);
        font-size: 16px;
        line-height: 24px;
        word-break: break-word;
        font-weight: 400;
        transition: all 0.5s ease;
      }
  
      &.helpSection {
        margin-left: 4vw;
        margin-right: 0;
        max-width: calc(100% / 2.5);
  
        @media screen and (max-width: 1360px) {
          max-width: 100%;
        }
  
        p {
          font-size: 16px;
          line-height: 24px;
          word-break: break-word;
          font-weight: 400;
          transition: all 0.5s ease;
          color: #1e502f;
          margin-bottom: 24px;
          max-width: 292px;
  
          @media screen and (max-width: 1500px) {
            max-width: 220px;
          }
  
          @media screen and (max-width: 520px) {
            max-width: 100%;
          }
        }
  
        h2 {
          color: #1e502f;
        }
  
        a span {
          color: #ffffff;
        }
  
        @media screen and (max-width: 1700px) {
          margin-left: 0;
        }
      }
    }
  }
  
  .footer-go-top {
    cursor: pointer;
    position: fixed;
    z-index: 20;
    right: 17px;
    bottom: 12px;
    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #134731;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    border-radius: 50%;
    text-align: center;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    overflow: hidden;
    opacity: 1;
    pointer-events: all;
  
    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  
    &.isAside {
      right: 34px;
    }
  
    @media screen and (min-width: 1025px) {
      &:hover {
        background-color: #1e502f;
        color: #ffffff;
      }
    }
  }
  
  .footer-copyright {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  
    span {
      line-height: 24px;
      word-break: break-word;
      font-weight: 400;
      transition: all 0.5s ease;
      font-size: 14px;
      color: #1e502f;
    }
  }
  
  .helpSection-button {
    margin-bottom: 16px;
    transition: all 0.5s ease;
    border-radius: 20px;
    background-color: #1e502f;
    padding: 8px 18px;
    display: block;
    width: fit-content;
    min-width: max-content;
    cursor: pointer;
  
    span,
    i {
      color: #ffffff;
      font-size: 16px;
    }
  
    i {
      margin-right: 9px;
    }
  
    &:hover {
      background-color: #134731;
    }
  }
  
  .footer-image-desktop {
    position: absolute;
    right: 0;
    bottom: 20px;
    max-width: 35vw;
    max-height: 100%;
  
    @media screen and (max-width: 1360px) {
      bottom: 60px;
    }
  
    @media screen and (max-width: 520px) {
      display: none;
    }
  }
  
  .footer-image-mobile {
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    margin-bottom: 28px;
    margin-top: -40px;
  
    img {
      width: 100%;
      max-width: 400px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(233, 235, 232, 0.5);
    }
  
    .footer-copyright {
      text-align: center;
      margin-top: 40px;
    }
  
    @media screen and (max-width: 520px) {
      display: flex;
    }
  }
  